[package]
name = "examples"
version = "0.0.0"
publish = false
edition = "2021"

[dev-dependencies]
tokio = { version = "1.0", features = ["full"] }
swiftide = { path = "../swiftide/", features = [
    "all",
    "scraping",
    "aws-bedrock",
] }
tracing-subscriber = "0.3"
serde_json = "1.0"
spider = "1.98"

[[example]]
name = "index-codebase"
path = "index_codebase.rs"

[[example]]
name = "index-codebase-reduced-context"
path = "index_codebase_reduced_context.rs"

[[example]]
name = "fastembed"
path = "fastembed.rs"

[[example]]
name = "index-redis"
path = "index_into_redis.rs"

[[example]]
name = "index-markdown-metadata"
path = "index_markdown_lots_of_metadata.rs"

[[example]]
name = "scraping-index"
path = "scraping_index_to_markdown.rs"

[[example]]
name = "aws-bedrock"
path = "aws_bedrock.rs"

[[example]]
name = "store-multiple-vectors"
path = "store_multiple_vectors.rs"
