[package]
name = "examples"
version = "0.0.0"
publish = false
edition = "2021"

[dev-dependencies]
mistralrs = { git = "https://github.com/EricLBuehler/mistral.rs.git", features = [
  "cuda",
] }
tokio = { version = "1.0", features = ["full"] }
swiftide = { path = "../swiftide/", features = [
  "all",
  "aws-bedrock",
  "huggingface-mistralrs",
  "scraping",
] }
spider = "1.98"
tracing-subscriber = "0.3"
tracing = "0.1.40"
serde_json = "1.0"
anyhow = "1.0"

[[example]]
name = "ingest-codebase"
path = "ingest_codebase.rs"

[[example]]
name = "fastembed"
path = "fastembed.rs"

[[example]]
name = "ingest-redis"
path = "ingest_into_redis.rs"

[[example]]
name = "ingest-markdown-metadata"
path = "ingest_markdown_lots_of_metadata.rs"

[[example]]
name = "scraping-ingest"
path = "scraping_ingest_to_markdown.rs"

[[example]]
name = "aws-bedrock"
path = "aws_bedrock.rs"

[[example]]
name = "mistralrs"
path = "mistralrs.rs"
