name: Coverage

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-coverage
  cancel-in-progress: true

jobs:
  test:
    name: coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools-preview
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - name: Cache Cargo dependencies
        uses: Swatinem/rust-cache@v2
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-tarpaulin
      - name: Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --all-features --tests --timeout 240 --coveralls ${{ secrets.COVERALLS_REPO_TOKEN }} --engine llvm

      # - name: Coveralls
      #   uses: coverallsapp/github-action@v2
